#update {
    position: relative;
    margin: auto;
    width: 300px;
}

#course{
    position: relative;
    margin: auto;
    width: 300px;
}

#course_list{
    position: relative;
    margin: auto;
    width: 500px;
}